@use "sass:color";

$_navBlue: darken(#bfffff, 5%);
$_dropdownBGColor: lighten($_navBlue, 10%);
$_hoverColor: lighten($_dropdownBGColor, 5%);

nav.neso-nav {
  position: sticky;
  top: 0;
  z-index: 10;
  box-sizing: border-box;
  font-family: sans-serif;
  color: black;
  background-color: $_navBlue;
  /*transition for nav open/close animation on mobiles*/
  transition: all 400ms;
  * {
    box-sizing: border-box;
  }
  .nav-container {
    width: min(100%, 800px);
    margin: 0 auto;
  }
  .nav-list {
    grid-column-start: 1;
    grid-column-end: 12;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    .nav-list-item {
      width: 100%;
      &.nav-list-dropdown:focus-within {
        & > .nav-dropdown-toggle {
          background-color: $_dropdownBGColor;
        }
        & > .nav-dropdown {
          //height: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
      .nav-list-item-anchor {
        display: block;

        color: black;
        text-decoration: none;
        padding: 0.5em;
        cursor: pointer;
        &:not(.nav-brand) {
          width: 100%;
        }
        &.active, &:hover, &.nav-dropdown-show {
          background-color: $_dropdownBGColor;
        }
      }
      .nav-dropdown-name {
        display: block;
        box-sizing: border-box;
      }
      .nav-dropdown-toggle {
        display: block;
        border: none;
        background-color: $_navBlue;
        font-size: 1em;
        &::after {
          content: "";
          display: inline-block;
          height: 10px;
          width: 10px;
          margin-left: 0.5em;
          background-image: url("data:image/svg+xml,%3Csvg width='2.6458mm' height='2.3207mm' version='1.1' viewBox='0 0 2.6458 2.3207' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='matrix(.66666 0 0 .66666 -27.141 -84.563)'%3E%3Cpath d='m40.876 127.01h3.6398l-1.8199 3.1521z' fill='%23000000' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='.32901' style='paint-order:normal'/%3E%3C/g%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;
          text-decoration: none;
        }
      }
      .nav-dropdown {
        visibility: hidden;
        //height: 0;
        background-color: $_dropdownBGColor;
        transition: opacity 200ms;
        display: none;
        &[aria-hidden="false"] {
          visibility: visible;
        }
      }
      .nav-dropdown a {
        box-sizing: border-box;
        padding: 0.5em 0;
        color: black;
        text-decoration: none;
        white-space: nowrap;
        width: 100%;
        &:hover {
          background-color: $_hoverColor;
        }
      }
    }
    .nav-head > .nav-menu-toggle {
      display: block;
      border: 0;
      cursor: pointer;
      background-color: transparent;
      padding: 0.5em;
      &:first-child {
        margin-left: auto;
      }
      & > span {
        display: block;
        height: 32px;
        width: 32px;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' version='1.1' viewBox='0 0 8.4667 8.4667' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(0 -288.53)' fill='none' stroke='%23000' stroke-linecap='round'%3E%3Cpath d='m1.0583 289.59h6.35' stroke-width='.9466'/%3E%3Cpath d='m1.0583 292.77h6.35' stroke-width='.9466'/%3E%3Cpath d='m1.0583 295.94h6.35' stroke-width='.9466'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
      }
      &:hover {
        background-color: $_dropdownBGColor;
      }
    }
    .nav-main {
      height: 0;
      opacity: 0;
      overflow: hidden;
      &.menu-open {
        height: auto;
        opacity: 1;
      }
    }
    & > .nav-list-item.nav-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5em;
    }
  }
}

@media screen and (min-width: 768px) {
  nav.neso-nav {
    .nav-list {
      grid-column-start: 2;
      grid-column-end: 14;
      flex-direction: row;
      .nav-list-item {
        width: auto;
        &.nav-list-dropdown {
          position: relative;
        }
        .nav-dropdown {
          position: absolute;
          z-index: 10;
          top: 100%;
          left: 0;
          align-items: start;
          padding: 0.4em 0;
        }
        .nav-dropdown a {
          box-sizing: border-box;
          width: 100%;
          text-align: left;
          padding: 0.2em 1em;
        }
      }
      .nav-list-item.nav-head > .nav-menu-toggle {
        display: none;
      }
      .nav-main {
        height: auto;
        padding: 0;
        display: flex;
        position: static;
        opacity: 1;
        overflow: visible;
        .nav-list .nav-list-item {
          margin-right: 1em;
        }
      }
    }
  }
}
