$bg: blue;

body {
    background-color: $bg;
}

.container {
    padding: 1rem;
    display: flex;
    background: linear-gradient(to top, black, white);
    h1 {
        font-size: 68px;
        text-align: center;
    }
}